@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  min-height: 100%;
  color: #ededed;
  background-color: #081b29;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #081b29;
}
.logo {
  position: relative;
  font-size: 2rem;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
#folio {
  color: cyan;
}
.navbar a {
  display: inline-block;
  font-size: 1.5rem;
  color: #ededed;
  text-decoration: none;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.2s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: cyan;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ededed;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.home-img img {
  border-radius: 20%;
  width: 420px;
  height: 500px;
  background-color: #081b29;
  box-shadow: 0 0 20px cyan, 0 0 40px cyan;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 100px 10% 10px;
}
.home-content {
  max-width: 600px;
  line-height: 1.6;
}
.home-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3 {
  font-size: 2.1rem;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.typed-text {
  display: inline;
}
.home-content h3 span {
  color: cyan;
}
.home-content p {
  width: 90%;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  font-size: 1.35rem;
  font-weight: 500;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid cyan;
  border-radius: 50%;
  font-size: 1.5rem;
  color: cyan;
  text-decoration: none;
  margin: 2rem 1rem 2rem 0;
  transition: 0.2s;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
  background: cyan;
  color: #081b29;
  box-shadow: 0 0 20px cyan;
}
.btn-box {
  display: inline-block;
  padding: 12px 24px;
  background: cyan;
  color: #081b29;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 1px;
  opacity: 0;
  transition: 0.3s;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 25px cyan;
  white-space: nowrap;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.about {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 100px 10% 0;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img img {
  width: 100%;
  max-width: 420px;
  height: 550px;
  border-radius: 30px;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.about-text h4 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #ededed;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: left;
}
.about-text h4 span {
  color: cyan;
}
.about-text p {
  color: #ededed;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
.title {
  text-align: center;
  font-size: 60px;
}
.title span {
  color: cyan;
}
.container {
  padding: 100px 80px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-wrap: wrap;
  grid-gap: 40px;
  margin-top: 80px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: 0.5s, transform 0.5s;
  box-shadow: 0 0 10px cyan;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div p {
  line-height: 1.75;
  font-size: 1rem;
  text-align: justify;
}
.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  transform: translateY(-20px);
}
#skillsSection {
  padding: 100px 80px 0;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.tAndPSkills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  margin-top: 3.5rem;
}
.inner-title {
  text-align: center;
  font-size: 32px;
  padding: 0 0 50px 0;
}
.inner-title span {
  color: cyan;
}
.bar {
  font-size: 23px;
}
.tech-bars .bar {
  margin: 40px 0;
}
.tech-bars .bar:first-child {
  margin-top: 0;
}
.tech-bars .bar:last-child {
  margin-bottom: 0;
}
.tech-bars .bar .info {
  margin-bottom: 5px;
}
.tech-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.tech-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #313131;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.tech-bars .bar .progress-line span {
  height: 100%;
  background-color: cyan;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html span {
  width: 95%;
}
.progress-line.css span {
  width: 90%;
}
.progress-line.bootstrap span {
  width: 85%;
}
.progress-line.tailwind span {
  width: 65%;
}
.progress-line.js span {
  width: 85%;
}
.progress-line.react span {
  width: 80%;
}
.progress-line.node span {
  width: 55%;
}
.progress-line.express span {
  width: 50%;
}
.progress-line.sql span {
  width: 90%;
}
.progress-line.cpp span {
  width: 85%;
}
.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #081b29;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: "95%";
}
.progress-line.css span::after {
  content: "90%";
}
.progress-line.bootstrap span::after {
  content: "85%";
}
.progress-line.tailwind span::after {
  content: "65%";
}
.progress-line.js span::after {
  content: "85%";
}
.progress-line.react span::after {
  content: "80%";
}
.progress-line.node span::after {
  content: "55%";
}
.progress-line.express span::after {
  content: "50%";
}
.progress-line.sql span::after {
  content: "90%";
}
.progress-line.cpp span::after {
  content: "85%";
}
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.radial-bars {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.radial-bars .radial-bar {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  position: relative;
}
.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 220px;
  height: 200px;
}
.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stroke: #313131;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
.path {
  stroke-width: 10;
  stroke: cyan;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 100;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 0;
  }
}
.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.projectsSection {
  padding: 100px 80px 0;
}
.main-text h2 span {
  color: cyan;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 80px;
}
.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px cyan;
}
.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 255, 255, 0.9));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 0 40px;
  transition: height 0.8s;
}
.layer h5 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p {
  color: black;
  font-size: 1rem;
  line-height: 1.8;
}
.layer a {
  text-decoration: none;
}
.layer a i {
  text-decoration: none;
  color: #081b29;
  margin-top: 20px;
  font-size: 20px;
  background: #ededed;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img {
  transform: scale(1.1);
}
.row:hover .layer {
  height: 100%;
}
#contactSection {
  padding: 100px 80px 0;
}
.Contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  margin-top: 80px;
}
.contact-text h4 {
  margin-bottom: 15px;
  color: rgb(228, 228, 228);
  font-size: 30px;
  font-weight: 600;
  width: 80%;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
  text-align: justify;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list i {
  display: inline-block;
  color: cyan;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a {
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: aqua;
}
.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid cyan;
  border-radius: 50%;
  font-size: 20px;
  color: cyan;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  background: #ededed;
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  padding: 14px 0;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block;
  background: cyan;
  color: #081b29;
  font-weight: 600;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 1px;
  opacity: 0;
  transition: 0.3s;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 25px cyan;
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}
.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #081b29;
  border-top: 1px solid #ededed;
  font-weight: 300;
  margin-top: 70px;
}
.last-text p a {
  text-decoration: none;
  color: cyan;
}
.top {
  position: fixed;
  display: none;
  bottom: 2rem;
  right: 2rem;
  border: none;
  background-color: cyan;
  border-radius: 8px;
}
.top i {
  color: #081b29;
  background: cyan;
  font-size: 24px;
  padding: 10px;
  border-radius: 8px;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animationProgress {
  from {
    width: 0;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #081b29;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0 10px cyan;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ededed;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: cyan;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: #ededed;
  display: none;
}
.menu-icon:hover {
  color: cyan;
  transition: 0.3s ease-in;
}
@media (max-width: 480px) {
  .menu-icon {
    display: block;
    font-size: 2rem;
  }
  .navbar {
    display: none;
  }
  .header {
    padding: 0.5rem 5%;
  }
  .logo {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .inner-title {
    padding-bottom: 1.25rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  .home {
    flex-direction: column;
    align-items: center;
    padding: 80px 5% 1rem 5%;
    min-height: 100vh;
    height: auto;
    gap: 0.5rem;
  }
  .home-img img {
    order: 1;
    width: 13.75rem;
    height: 15rem;
    background-color: #081b29;
    box-shadow: 0 0 15px cyan, 0 0 30px cyan;
  }
  .home-content {
    order: 2;
    width: 100%;
    text-align: center;
    line-height: 1.5;
  }
  .home-content h1 {
    text-align: center;
    font-size: 2rem;
  }
  .home-content h3 {
    text-align: center;
    font-size: 1.325rem;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 1.25rem;
    width: 100%;
  }
  .home-role {
    font-size: 1.5rem;
  }
  .home-content p {
    min-width: 100%;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  .home-sci a {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    margin: 1rem 8px 1rem 0;
  }
  .btn-box {
    font-size: 0.75rem;
  }
  .about {
    grid-template-columns: 1fr;
    padding: 55px 5% 1rem 5%;
  }
  .about-img {
    display: none;
  }
  .about-text h4 {
    font-size: 1.5rem;
  }
  .about-text p {
    font-size: 0.875rem;
  }
  .tAndPSkills {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  /* services */
  .container {
    padding: 55px 5% 0 !important;
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
    grid-gap: 2rem !important;
    margin-top: 2rem;
  }
  .services-list div {
    padding: 20px;
  }
  .services-list div i {
    width: 100%;
  }
  .services-list div h2 {
    font-size: 1.2rem;
  }
  .services-list div p {
    line-height: 1.75;
    font-size: 12px;
    text-align: justify;
  }
  /* skills */
  #skillsSection {
    padding: 55px 5% 1rem 5%;
  }
  .skillsContainer {
    min-width: 100%;
  }
  .tAndPSkills {
    margin-top: 0px;
    grid-template-columns: 1fr;
  }
  .bar {
    margin: 1rem 0 !important;
  }
  .radial-bars {
    gap: 0rem;
    grid-template-columns: 1fr;
  }
  .radial-bar {
    min-width: 100%;
  }
  .radial-bar div.text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .text {
    font-size: 1.2rem !important;
  }
  /* projects */
  .projectsSection {
    padding: 55px 5% 1rem 5%;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    margin-top: 2rem;
    gap: 2rem;
  }
  #contactSection {
    padding: 55px 5% 1rem 5%;
  }
  .Contact {
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
    gap: 1rem;
  }
  .contact-text h4 {
    margin-bottom: 12px;
    font-size: 1.2rem;
  }
  .contact-text p {
    color: rgb(177, 177, 177);
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: 16px;
  }
  .contact-list {
    margin-bottom: 1.5rem;
  }
  .contact-list li {
    font-size: 1rem !important;
    margin-bottom: 10px;
    display: block;
  }
  .contact-list li a {
    font-size: 1rem !important;
  }
  .contact-list i {
    display: inline-block;
    color: cyan;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
  }
  .contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: aqua;
  }
  .contact-icons i {
    margin: 30px 8px 30px 0;
  }
  .contact-form form {
    position: relative;
  }
  .contact-form form input,
  form textarea {
    background: #ededed;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  .contact-form textarea {
    resize: none;
    height: 160px;
  }
  .last-text p {
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    background: #081b29;
    border-top: 1px solid #ededed;
    font-weight: 300;
    margin-top: 3rem;
  }
  .top {
    bottom: 1rem;
    right: 1rem;
  }
  .top i {
    padding: 8px;
    font-size: 1rem;
  }
  .sidenav a {
    font-size: 1rem;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 1rem;
    font-size: 30px;
    margin-left: 0;
    padding: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .menu-icon {
    display: block;
    font-size: 2rem;
  }
  .navbar {
    display: none;
  }

  .header {
    padding: 0.5rem 5%;
  }
  .logo {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .inner-title {
    font-size: 2rem;
    padding-bottom: 1.875rem;
    margin-top: 2.25rem;
  }
  .home {
    flex-direction: column;
    padding: 75px 5% 20px;
    max-height: 100vh;
  }
  .home-img img {
    order: 1;
    width: 220px;
    height: 240px;
    margin-bottom: 0.5rem;
    background-color: #081b29;
  }
  .home-content {
    order: 2;
    width: 100%;
    text-align: center;
    line-height: 1.5;
  }
  .home-content h1 {
    text-align: center;
    font-size: 34px;
  }
  .home-content h3 {
    text-align: center;
    font-size: 22px;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 22px;
    width: 100%;
  }
  .home-role {
    font-size: 1.5rem;
  }
  .home-content p {
    min-width: 90%;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
  .home-sci a {
    margin: 1rem 0.75rem 1rem 0;
  }
  .btn-box {
    font-size: 14px;
  }
  .about {
    grid-template-columns: 1fr;
    padding: 90px 5% 0;
  }
  .about-img {
    display: none;
  }
  .about-text p {
    font-size: 1.25rem;
  }
  /* services */
  .container {
    padding: 90px 5% 0;
  }
  .services-list {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
  .services-list div h2 {
    font-size: 1.8rem;
  }
  .services-list div p {
    line-height: 1.75;
    font-size: 1rem;
    text-align: justify;
  }
  /* skills */
  #skillsSection {
    padding: 90px 5% 0;
  }
  .tAndPSkills {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-top: 0px;
  }
  .radial-bars {
    gap: 1rem;
  }
  .radial-bar div.text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  /* projects */
  .projectsSection {
    padding: 90px 5% 0;
  }
  .portfolio-content {
    margin-top: 40px;
  }
  #contactSection {
    padding: 90px 5% 0;
  }
  .Contact {
    grid-template-columns: 1fr;
    margin-top: 40px;
    gap: 2rem;
  }
  .contact-text {
    margin-top: 0;
  }
  .contact-text p {
    font-size: 1.25rem;
  }
  .contact-list {
    margin-bottom: 1rem;
  }
  .top {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu-icon {
    display: hidden;
  }
  .navbar {
    display: block;
  }
  .navbar a {
    font-size: 1.2rem;
    margin-left: 1.25rem;
  }
  .header {
    padding: 1.25rem 5%;
  }
  .title {
    font-size: 2.75rem;
  }
  .inner-title {
    font-size: 2.25rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
  .home {
    width: 100%;
    height: 100vh;
    padding: 80px 5% 0;
  }
  .home-img img {
    width: 320px;
    height: 500px;
    border-radius: 15%;
  }
  .home-content {
    width: 100%;
    line-height: 1.8;
  }
  .home-content h1 {
    font-size: 2.5rem;
  }
  .home-content h3 {
    font-size: 1.6rem;
  }
  .home-content h3:nth-of-type(3) {
    font-size: 1.8rem !important;
  }
  .home-content p {
    min-width: 95%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
  }
  .home-sci a {
    margin: 2rem 1rem 2rem 0;
  }
  .about {
    grid-template-columns: 1fr;
    padding: 90px 5% 0;
  }
  .about-img {
    display: none;
  }
  .about-text h4 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .about-text p {
    font-size: 1.25rem;
  }
  /* services */
  .container {
    padding: 90px 5% 0;
  }
  .services-list {
    margin-top: 40px;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .services-list div {
    padding: 1.5rem;
  }
  .services-list div h2 {
    font-size: 1.4rem;
  }
  .services-list div p {
    line-height: 1.75;
    font-size: 1rem;
    text-align: justify;
  }
  /* skills */
  #skillsSection {
    padding: 90px 5% 0;
  }
  .tAndPSkills {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-top: 0px;
  }
  .radial-bars {
    gap: 1rem;
  }
  .radial-bar div.text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  /* projects */
  .projectsSection {
    padding: 90px 5% 0;
  }
  .portfolio-content {
    margin-top: 40px;
  }
  #contactSection {
    padding: 90px 5% 0;
  }
  .Contact {
    grid-template-columns: 1fr;
    margin-top: 40px;
    gap: 2rem;
  }
  .contact-text {
    margin-top: 0;
  }
  .contact-text p {
    font-size: 1.25rem;
  }
  .contact-list {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .header {
    padding: 1.25rem 10%;
  }
  .navbar a {
    font-size: 1.4rem;
    margin-left: 1.25rem;
  }
  .title {
    font-size: 2.75rem;
  }
  .inner-title {
    padding-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2.25rem;
  }
  .home {
    width: 100%;
    height: 100vh;
    padding: 5rem 10% 0;
  }
  .home-img img {
    width: 350px;
    height: 480px;
    border-radius: 15%;
  }
  .home-content {
    width: 100%;
    line-height: 1.6;
  }
  .home-content h1 {
    font-size: 2.75rem;
  }
  .home-content h3 {
    font-size: 1.75rem;
  }
  .home-content h3:nth-of-type(3) {
    font-size: 2rem !important;
  }
  .home-content p {
    min-width: 90%;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
  }
  .home-sci a {
    margin: 2rem 1rem 2rem 0;
  }
  .about {
    gap: 3rem;
    grid-template-columns: 320px 1fr;
    gap: 2rem;
    padding: 90px 10% 0;
  }
  .about-img img {
    width: 100%;
    max-width: 320px;
    height: 550px;
    border-radius: 30px;
  }
  .about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-text h4 {
    font-size: 2rem;
    margin-bottom: 0;
    padding: 0;
  }
  .about-text p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
  .btn-box {
    white-space: nowrap;
  }
  /* services */
  .container {
    padding: 100px 10% 0;
  }
  .services-list {
    margin-top: 40px;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .services-list div {
    padding: 1.5rem;
  }
  .services-list div h2 {
    font-size: 1.4rem;
  }
  .services-list div p {
    line-height: 1.75;
    font-size: 1rem;
    text-align: justify;
  }
  /* skills */
  #skillsSection {
    padding: 100px 10% 0;
  }
  .tAndPSkills {
    grid-template-columns: auto auto;
    gap: 2.5rem;
    margin-top: 0px;
  }
  .radial-bars {
    gap: 1rem;
  }
  .radial-bar div.text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  /* projects */
  .projectsSection {
    padding: 100px 10% 0;
  }
  .portfolio-content {
    margin-top: 40px;
  }
  #contactSection {
    padding: 100px 10% 0;
  }
  .Contact {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    gap: 2rem;
  }
  .contact-text {
    margin-top: 0;
  }
  .contact-text p {
    font-size: 1.25rem;
  }
  .contact-list {
    margin-bottom: 1rem;
  }
}
